<footer>
    <div class="contact">
        <nav class="nav">
            <span>
                <a href="mailto:contact@irshien.org">
                    Contact
                </a>
            </span>
            <span>
                <a routerLink="/privacy">
                    Privacy
                </a>
            </span>
            <span>
                <a routerLink="/terms">
                    利用規約
                </a>
            </span>
        </nav>
        <p class="attr"> Location <img [src]="google" class="google"/> </p>
    </div>
    <p class="copyright">
        Copyright 2020 the IR支援 team. All rights reserved. No guarantees.
    </p>
</footer>