p.copyright {
    color: rgb(180, 180, 180);
}

footer.a {
    color: lightblue;
}

:host {
    margin-top: auto!important;
    margin-top: 2rem;
    padding: 1rem 1rem 0rem 0rem;
    border-top: 1px dotted gray;
}