p.copyright {
    color: rgb(180, 180, 180);
    margin-bottom: .2rem;
}

p.attr {
    color: rgb(180, 180, 180);
}

footer.a {
    color: lightblue;
}

:host {
    margin-top: auto;
    padding: .5rem 0rem 0rem 0rem;
    border-top: 1px dotted gray;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1rem;
}

.google {
    position: relative;
    top: -2px;
}