.centered {
    text-align: center;
}

h3 {
    margin-top: 1rem;
}

.form-group + .form-group {
    margin-top: 2rem;
}

form {
    margin-bottom: 2rem;
}

span.optional {
    color: #6c757d!important;
    padding: .2rem .5rem;
    margin-left: 1rem;
    border: solid 1px lightgray;
}

:host {
    margin-right: 1rem;
    margin-left: 1rem;
}