<main role="main">
    <h3 class="top">IRの声</h3>
    <div class="alert alert-primary">
        <ng-container *ngIf="geo.apiAvailable">
            <ng-container *ngIf="geo.place | async as place">
                <ng-template [ngIf]="place.loading">
                    <div class="la-ball-clip-rotate la-dark"> 
                        <div></div> 
                    </div>
                </ng-template>
                <ng-template [ngIf]="!place.loading && place.name">
                    <p class="locinfo">
                        <span class="strong">{{place.name}}</span>
                        の近くの医療機関からのメッセージを表示しています。
                    </p>
                </ng-template>
                <ng-template [ngIf]="!place.loading && !place.name">
                    <p class="locinfo">
                        <a role="button" [routerLink]="" (click)="geo.find()">現在地の近くにある医療機関</a>からのメッセージを表示しましょう。
                    </p>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
    <ng-container *ngIf="voices.voices | async as voices">
        <ng-container *ngIf="!voices.loading; else loading">
            <div *ngFor="let voice of voices.content" class="container container-voice">
                <h4>{{voice.name}}</h4>
                <h4>{{voice.address}}</h4>
                <div *ngFor="let item of voice.content">
                    <p class="attr"> {{item[0]}} </p>
                    <p class="value" *ngIf="isstring(item[1]); else list"> {{item[1]}} </p>
                    <ng-template #list>
                        <div class="badge-holder">
                            <span *ngFor="let i of item[1]" class="badge badge-primary">
                                {{i}}
                            </span>
                        </div>
                    </ng-template>
                </div>
                <div>
                    <p class="attr"> 投稿者 </p>
                    <p class="value"> {{voice.poster}} </p>
                </div>
                <div>
                    <p class="attr"> 更新日 </p>
                    <p class="value"> {{voice.date}} </p>
                </div>
            </div>
        </ng-container>
        <ng-template #loading>
            <app-loader></app-loader>
        </ng-template>
    </ng-container>
</main>
