:host {
    margin-top: 10.3vh;
    margin-bottom: 2rem;
}

.heading {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.blurb {
    padding: 0rem 2.5rem;
}

.centered {
    text-align: center!important;
}

.blurb p.text {
    font-size: 1.1rem;
    font-weight: 300;
}



.nav-link {
    font-weight: 600;
    padding: .25rem 0;
}

.nav-link + .nav-link {
    margin-left: 1rem;
}

.nav .active {
    color: blue;
}
