<h3> プライバシー・ポリシー</h3>

<p>
    IR支援プロジェクト（以下当団）は、少人数の任意団体であり、収益事業も一切行っておりませんが、
    医療従事の方を始め利用者の皆様からいただいた情報を保護することが重要であると認識しております。
</p>


<h5> 個人情報の利用目的 </h5>
<p>
    必要以上に個人情報を収集することはありません。
</p>
<ol>
    <li>
        医療従事者、医療機関、利用者への支援
    </li>
    <li>
        本サービスの利用に伴う連絡
    </li>
    <li>
        利用者の認証および本サービスの提供
    </li>
    <li>
        本サービスの改善等
    </li>
    <li>
        その他利用者の同意を得た場合
    </li>
</ol>
<h5> 個人情報の管理方法 </h5>
<p>
   　利用者の情報は当団のデーターベース、サーバー、メールソフトに保管しております。
    メールソフトは、G Suiteを使用しております。
    データベースやサーバーは、IBM Cloud、Digital Ocean、Google Cloudを使用しております。
</p>
<h5>位置情報について</h5>
<p>
    利用者が位置情報を本サービスに送信した場合、Google Places APIを通して送られた座標を住所に変換します。
    送られた位置情報はサーバーに保管されず、すぐに破棄されます。
</p>
<h5> 共同利用、第三者提供について </h5>
<p>
    本人の同意なく第三者に個人情報を提供することはありません。
</p>
<h5> TLSについて　</h5>
<p>
    TLSによるセキュリティを導入しております。
</p>
<h5> Cookieについて </h5>
<p>
    Cookieの設定や使用はいたしません。 <- check
</p>
<h5> 相談や苦情の連絡先</h5>
<p>
    個人情報の取り扱いについてご不明な点があれば、
    <a href="mailto:contact@irshien.org">
        contact@irshien.org
    </a>までご連絡ください。
</p>
